@import "tailwindcss";

/* Theme Variables */
:root {
  --background: #020202;
  --foreground: #00ff41;

  --card: #050505;
  --border: #0f3d1e;
}

/* Tailwind Theme Mapping */
@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-border: var(--border);

  --font-mono: ui-monospace, SFMono-Regular, Menlo, monospace;
}

/* Global Body */
body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-mono);
}